<html>
    <head>
    <script src="~/lib/jquery/jquery.min.js"></script>
    
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    
    </head>
    <body class="container">
    @* <img src="~/img/shivam photo1.jpeg" />
    <img src="~/Myfiles/12thMarksheet.jpeg" alt="dummy"/> *@
    <button class="btn btn-danger"> Click Me</button>
    </body>
</html>